@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Edu-Regular;
  src: url("../../public/fonts/EduSABeginner-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Edu-Regular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  background-image: url("/stars.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
